table {
    border: 1px solid grey;
    font-family: 'Roboto', sans-serif;
    margin: auto;
}

th {
    border: 1px solid grey;
}

td {
    border: 1px solid grey;
    text-align: center;
}

input {
    text-transform: uppercase;
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    background: #f69a73;
}
.wrapper,
#begin {
    text-align: center;
}

#submit,
#start,
#finish {
    padding: 0 20px;
    margin-bottom: 10px;
    background: #E9EFF6;
    line-height: 40px;
    border-width: 0;
    border-radius: 20px;

}

#player {
    margin-top: 0;
    color: #707981;
}

#letter {
    position: relative;
    max-width: 100px;
    margin: 50px auto 0;
    background: white;
    border-radius: 30px;
    margin-top: 0;
    color: #707981;
}
